.current-weather {
    display: flex;
    gap: 5px;
    background-color: aliceblue;
    padding:10px;
}

.top-left {
    flex: 1;
    background-color: rgb(203, 203, 255);
    display: flex;
    gap: 5px;
    border: 1px solid rgb(164, 164, 255);
    align-items: center;
    justify-content: center;
}

.top-right {
    flex: 1;
    padding: 10px;
    background-color: rgb(203, 203, 255);
    border: 1px solid rgb(164, 164, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#content {
    text-align: center;
}

.hourly-forecast {
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    padding: 10px;
}

.weather-card {
    background-color: rgb(203, 203, 255);
    border: 1px solid rgb(164, 164, 255);
    padding: 0 20px;
}