.current-weather {
    display: flex;
    gap: 5px;
    padding:10px;
}

.top-left {
    flex: 1;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.top-right {
    flex: 1;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#content {
    text-align: center;
}

.hourly-forecast {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.weather-card {
    padding: 0 20px;
}

.weather-row {
    display: flex;
    justify-content: center;
}

.weather-row > div{
    flex: 1;
}

.twoweeks-forecast {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.weather-card, .weather-row, .top-left, .top-right {
    background-color: rgb(203, 203, 255);
    border: 1px solid rgb(164, 164, 255);
}

.current-weather, .twoweeks-forecast, .hourly-forecast {
    background-color: aliceblue;
}